		* {
			font-family: sans-serif;			
		}

		body {
			clear: both;
		}

		.header {
			backdrop-filter: blur(10px);
			border: 1px solid crimson;
			border-radius: 10px;
			box-shadow: 0. 0. 15px rgba(0, 0, 0, .5);
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
		}

		.header ul {
			display: inline-block;
			float: right;
			margin-right: 20px;
		}

		.header ul li {
			display: inline-block;
			text-align: center;
		}

		.header ul li a {
			text-decoration: none;
			display: inline-block;
			color: crimson;
			padding: 10px 25px;
			margin-left: 3px;
			font-size: 1em;
			border: 1px solid crimson;
			border-radius: 10px;
			transition: ease .3s;
		} 

		.header ul li a:hover {
			color: #fff;
			background-color: crimson;
		}

		.header h1 {
			color: crimson;
			padding: 10px 30px;
			border-radius: 10px;
			backdrop-filter: blur(10px);
			float: left;			
		}