* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container {
	background-color: #000;
	width: 100%;
	gap: 50px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: columns;
	position: relative;
	text-align: center;
	z-index: -99;
	flex-direction: column;
}

h2 {
	font-size: 30px;
	color: #fff;
}

p {
	padding: 20px;
	color: #eee;
}

.box {
	width: 35%;
	height: 5rem;
	background-color: #101010;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 10px;

	position: relative; /* Beda Dari Sini */
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@keyframes spin {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}

.box::after, .box::before {
	content: '';
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
	background: conic-gradient(from var(--angle), transparent 2%, red, green, blue);
	padding: 3px;
	z-index: -1;
	border-radius: 10px;
	animation: spin 3s linear infinite;
}

.box::before {
	filter: blur(1.5rem);
	opacity: 0.5;
}



/* ME TIME :: */

#btn {
	width: 15rem;
	height: 5rem;
	background-color: #101010;
	display: flex;
	border-radius: 10px;
	color: #fff;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-weight: bold;
	position: relative;
}

#btn::after, #btn::before {
	content: '';
	position: absolute;
	background: conic-gradient(from var(--angle), transparent 5%, red, blue, red);
	padding: 3px;
	height: 100%;
	width: 100%;
	z-index: -1;
	border-radius: 10px;
	animation: spin 3s linear infinite;
}

#btn::before {
	filter: blur(1.5rem);
	opacity: 0.5;
}



